
  <div class="card m-6">
  <header class="card-header has-background-primary">
    <p class="card-header-title">
      {{post.title}} - {{post.user.username}}
    </p>
  </header>
  <div class="card-content has-background-grey-lighter">
    <div class="content">
     {{post.post_content}} 
      <br>
      <time datetime="2016-1-1">{{format_date post.createdAt}}</time>
    </div>
  </div>
  <footer class="card-footer">
  </footer>
  </div>
  
  
  {{#each post.comments as |comment| }}
  <div class="card m-6">
  <header class="card-header has-background-primary">
    <p class="card-header-title">
      comment
    </p>
  </header>
  <div class="card-content has-background-grey-lighter">
    <div class="content">
     {{content}}
      <br>
      <br>
      <time datetime="2016-1-1">{{user.username}}, {{format_date comment.createdAt}} </time>
    </div>
  </div>
  </div>
{{/each}}

{{#if logged_in}}
<form id="new-comment-form" class="card">
    <div class="card-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body">
      <input type="hidden" name="post-id" value="{{post.id}}" />

      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
{{/if}}
